@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Hedvig+Letters+Sans&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #407bff
}

/* mobile responsive */

.container {
    display:  grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 15px;
    height: 100vh;
}

.wrap-img {
    display: none;
}
.wrap-img  img{
width: 80%;
}
.wrap-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-form a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.wrap-form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.wrap-form div form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrap-form div form input {
    padding: 13px 18px;
    border-radius: 4px;
    border: none;
    background-color: rgb(240, 240, 240);
}

.wrap-form div form input[type="submit"] {
    background-color: var(--primary);
    margin-top: 5px;
    cursor: pointer;
    color: white;
    padding: 13px 18px;
    border: none;
    border-radius: 4px;
}

.wrap-form div form input[type="submit"]:hover {
    background-color: blue;
}

.wrap-form span a {
    color: var(--primary);
}

.wrap-form span {
    text-align: center;
}

/* ipad / desktop */

@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .wrap-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1400px;
    }

    .wrap-form div {
        width: 450px;
    }
}

